ul {
	list-style: none;
}
a {
	text-decoration: none;
}

.menuContainer{
	
	position: relative;
	display: inline-block;
}

.menuTrigger {
	cursor: pointer;
}
.dropdownMenu {
	position: absolute;
	top: 60px;
	right: -20px;
	background-color: #fff;
	border-radius: 8px;
	width: 240px;
	z-index: 1;
	ul {
		li {
			padding: 10px 0;
			&:hover {
				a {
					color: red;
					cursor: pointer;
				}
			}
		}
	}
}
.dropdownMenu.active {
	opacity: 1;
	visibility: visible;
}
.dropdownMenu.inactive {
	opacity: 0;
    display: none;
	visibility: hidden;
	transition: all 1s ease;
}
h3 {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	color: #242526;
	line-height: 1.2rem;
	span {
		font-size: 14px;
		color: #fff;
		font-weight: 400;
	}
}
.dropdownItem {
	display: flex;
	margin: 10px auto;
	img {
		max-width: 20px;
		margin-right: 10px;
		opacity: 0.1;
	}
	a {
		max-width: 100px;
		margin-left: 10px;
	}
}