.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.textContent {
	padding: 20px 20px 20px 0;
}

img {
	height:240px;
	width: 240px;
	object-fit: contain;
	background-size: contain;
	background-color: #F5F5F5;
}